<p>
  hi
</p>
<div class="container">
    
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required name="username" [(ngModel)]="formValues.name" #name="ngModel">  
      <div [hidden]="name.valid" class="alert alert-danger">
        Please enter your name.
      </div>   
    </div>
      
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id" required [(ngModel)]="formValues.id" minlength="4" maxlength="8" #names="ngModel">      
       <div *ngIf="names.errors || name.invalid" class="alert alert-danger">
        <div [hidden]="!names.errors.required">
          Please enter your oracle-ID.
        </div>   
        <div [hidden]="!names.errors.minlength">
          ID must be at least 4 characters long.
        </div>
        <div [hidden]="!names.errors.maxlength">
          ID cannot be more than 8 characters long.
        </div>     
      </div>
    </div>
      
    <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-success">Submit</button>
  </form>
</div>
